{% extends 'magazin/main.html' %}
{% load static %}
{% block content %}
     <div class="row" >
		<div class="col-lg-6" >
			<div class="box-element" id="form-wrapper" style="background-color: #fff;">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="nume" placeholder="Nume..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Detalii Transport:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="adresa" placeholder="Adresa..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="oras" placeholder="Oras..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="judet" placeholder="Judet..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="cod postal" placeholder="Cod postal..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-info btn-block" type="submit" value="Continua">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Card cumparaturi</small>
			</div>

		</div>

		<div class="col-lg-6" >
			<div class="box-element" style="background-color: #fff;">
				<a  class="btn btn-outline-dark" href="{% url 'cos' %}" >&#x2190; Inapoi la Cos</a>
				<hr>
				<h3>Cosul de Cumparaturi</h3>
				<hr>
				{% for item in intems %}
				<div class="cart-row" >
					<div style="flex:2"><img class="row-image" src="{{ item.produs.imageURL }}"></div>
					<div style="flex:2"><p>{{ item.produs.name }}</p></div>
					<div style="flex:1"><p>{{ item.produs.price }} Lei</p></div>
					<div style="flex:1"><p>{{ item.cantitate }}</p></div>
				</div>
				{% endfor %}
				<h5>Produse: {{ comanda.cos_items }}</h5>
				<h5>Total: {{ comanda.cos_total|floatformat:2 }} Lei</h5>
			</div>
		</div>
	</div>
{% endblock content %}