{% extends 'magazin/main.html' %}
{% load static %}
{% block content %}
    <h1>Produsul este</h1>
    <div class="container">
        <div class="row">
            {% for produs in vez %}
            {% if produs.pk == pk %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{produs.imagine.url}}"
                     style="object-fit: cover; object-fit: contain; background-color: #fff;">
                <div class="box-element product" style="background-color: #fff;">
                    <h6><strong>{{produs.name}}</strong></h6>
                    <hr>
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Aauga in cos</button>
                    <a>DESCRIERE PRODUS DESCRIERE PRODUS </a>
                    <h4 style="display: inline-block; float: right">{{produs.price|floatformat:2}} lei</h4>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
